/* .text-white{
    color: #fff !important;
} */

.latest-product__item__pic img{
    height: 70px !important;
    padding: 0 !important;
}

.rightmenu{
    position: relative;
}

.rightmenu .nav-menu{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0 10px 0;
    background: #003049;
    border-radius: 10px;
    border: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


.nav-menu li a{
    color: #fff !important;
}

.rightmenu:hover .nav-menu{
    display: block;
    z-index: 10000;
    height: auto;
}

.nav-menu li a:hover{
    color: #003049;
	text-decoration: underline;
    font-weight: normal !important;
}

.featured__item__pic{
    padding: 10px;
}

.featured__item__pic a img{
    border-radius: 10px;
}

.featured__item__text .featured__item_name{
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.featured__item_name h6 a{
    text-overflow: ellipsis;
}

.mix .featured__item{
    padding: 10px 0;
    border-radius: 10px;
    box-shadow:  0 0 5px #000;
}


.header__menu > ul > li >.nav__link::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #003049; 
    transition: width .3s;
}
.header__menu > ul > li >.nav__link:hover::after{
    width: 100%;
    transition: width .3s;
}