/* .text-white{
    color: #fff !important;
} */

.latest-product__item__pic img{
    height: 70px !important;
    padding: 0 !important;
}

.rightmenu{
    position: relative;
}

.rightmenu .nav-menu{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0 10px 0;
    background: #003049;
    border-radius: 10px;
    border: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


.nav-menu li a{
    color: #fff !important;
}

.rightmenu:hover .nav-menu{
    display: block;
    z-index: 10000;
    height: auto;
}

.nav-menu li a:hover{
    color: #003049;
	text-decoration: underline;
    font-weight: normal !important;
}

.featured__item__pic{
    padding: 10px;
}

.featured__item__pic a img{
    border-radius: 10px;
}

.product__item__name,
.featured__item__text .featured__item_name{
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.featured__item_name h6 a{
    text-overflow: ellipsis;
}

.mix .featured__item{
    padding: 10px 0;
    border-radius: 10px;
    box-shadow:  0 0 5px #000;
    background: #fff;
}
.shop__menu li a::after,
.header__menu > ul > li >.nav__link::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #003049; 
    transition: width .3s;
}
.shop__menu li a:hover::after,
.header__menu > ul > li >.nav__link:hover::after{
    width: 100%;
    transition: width .3s;
}

.discount{
    margin-top: 25px;
    width: 35rem;
    height: 45px;
}

.checkout__order__name{
    width: 270px;
    text-overflow: ellipsis;
}

.checkout_order_total {
    padding-left: 32px;
}

.show__comment,
.w-100.form__comment {
    padding-left: 30px;
}

.product__item{
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    padding: 20px 0;
    height: 90%;
}

.hero__search__phone.col-lg-3.box_icon {
    padding: 15px 0;
}

.discount__number{
    padding-left: 10px;
}
/* 
.shop__menu li a:hover{
    color: #003049;
} */

#erros{
    color: red;
}
/* popup */

/* body .popup{
	background:rgba(0, 0, 0, 0.5);
} */

/* .all-pop{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 0;
} */

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
	z-index: 1000;
    /* box-shadow: 20px 17px 20px 0px rgba(0, 0, 0, 0.842); */
}

.contentBox{
    position: relative;
    height: 400px;
    width: 600px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contentBox .img-popup{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox .img-popup img{
    position: relative;
    max-width: 250px;
    z-index: 1;
}

.contentBox .content{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentBox .content h3{
    color: #2b2b2b;
    line-height: 2em;
    font-weight: bold;
    font-size: em;
    margin-bottom: 10px;
}

.contentBox .content h2{
    font-size: 24px;
    color: #ff4d54;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 10px;
}

.contentBox .content p{
    font-weight: 300;
}

.contentBox .content a{
    display: inline-block;
    padding: 10px 20px;
    background: #003049;
    color: #fff;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.contentBox .content a:hover{
    /* transition: ; */
    background:#ff4d54;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #f3f3f3 url(/img/close.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    /* transform: translate(-50%, -50%); */
}

/* .close:hover{
    background: #ff4d54 url(/img/close.png);
} */

/* Search */
.search{
    /* display: none; */
    z-index: 1;
    margin-top: 2%;
    position: absolute;
    width: 70%;
    height: auto;
    background: #fff;
    border: 1px solid #000;
}
.search .latest-product__item{
    height: auto;
    margin-bottom:0 !important;
    margin-top: 1% !important;
    border-bottom: 1px solid #000;
}
.search .latest-product__item .latest-product__item__pic{
    width: 25%;
    margin-left: 1% !important;
}
.search .latest-product__item .latest-product__item__pic .img-search{
    width: auto;
    height: 130px !important;
}
/* .search .latest-product__item .latest-product__item__text{
    
} */
#search-item{
    color: #000;
    font-size: 25px;
}

.success{
    color: green;
}

.shoping__cart__text{
    height: 130px;
    text-align: center;
}

.shoping__cart__text h3{
    align-items: center;
    font-weight: 700;
}

.border-cover{
    border: 1px solid #0006;
    border-radius: 10px;
}
.col-lg-4.col-md-12.offset-lg-1.border-cover{
    text-align: center;
    padding-top: 20px;
}

.footer__about h5,
.footer__widget h5{
    padding-top: 20px;
    font-weight: 700;
    text-align: center;
}

/* @media only screen and (min-width: 992px) {
	.offset-lg-1 {
		margin-left: 4% !important;
	}
} */

.open{
    display: none;
}

.bg-primary{
    background: #003049 !important;
}

.container-fluid.bg-primary.bg-icon.mt-5.py-6{
    padding: 10px;
}